<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   exportOptions.plist
   CISD

   Created by Luv Mehta on 02/05/18.
   Copyright (c) 2018 Bitcanny. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>method</key>
        <string>app-store</string>
        <key>teamID</key>
        <string>J626X6WL96</string>
        
    </dict>
</plist>
